@font-face{
    font-family: 'usa';
    src: url('usa.ttf');
}


body{
    background-image: url('nba.jpg');
    background-size: 100%;
}

a{
   color: white;
   text-decoration: none;
}

a:active{
   color:red;
}

a:hover { 
  background-color: blue;
}

.titre{
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 55%;
   font-size:350%;
   font-family: 'usa';
   position: absolute;
   top: 10%;
   left: 5%;
   border-radius: 15%;
}

.jouer{
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 100%;
   font-size:350%;
   font-family: 'usa';
   position: absolute;
   top: 50%;
   left: 53%;
   border-radius: 35%;
}


.chercher{
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 100%;
   font-size:300%;
   font-family: 'usa';
   position: absolute;
   top: 25%;
   left: 73%;
}

.ajouter{
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 100%;
   font-size:300%;
   font-family: 'usa';
   position: absolute;
   top: 60%;
   left: 73%;
}

.regle{
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 100%;
   font-size:300%;
   font-family: 'usa';
   position: absolute;
   top: 80%;
   left: 10%;
}

