@font-face{
    font-family: 'usa';
    src: url('usa.ttf');
}


body{
    background-image: url('nba.jpg');
    background-size: 100%;
}
p{
   color: #8C025B;
   
}

a{
   color: #8C025B;
   text-decoration: none;
}

a:active{
   color:red;
}

a:hover { 
  background-color: blue;
}

li{
   display: inline;
}

.onglet{
   margin-top: 4%;
   margin-left: 5%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 1%;
   padding-right: 1%;
   top: 200px;
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 55%;
   font-size:350%;
   font-family: 'usa';
   border-radius: 15%;
   display: inline-block;
}


.jouer{
   background-image: url('parquet.jpg');
   background-size: 100%;
   margin-right: 100%;
   font-size:350%;
   font-family: 'usa';
   position: absolute;
   top: 45%;
   left: 53%;
   border-radius: 100%;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-left: 1%;
   padding-right: 1%;
}

